@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;800&display=swap');
body{
background: #fff;
color: sienna;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    font-family: 'Mulish', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
header{
    position: fixed;
    width: 100%;
    top: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 14%;
    transition: all .50s ease;
}
.logo img{
    display: flex;
    align-items: center;
}
.navlist{
    display: flex;
}
.navlist a{
    color: sienna;
    font-size: 19px;
    margin: 0 25px;
    transition: all .50s ease;
}
.navlist a:hover{
    color: burlywood;
}
.navlist a.active{
    color: rgb(222, 184, 135);
}
.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: rgb(222, 184, 135);
    border-radius: 3rem;
    box-shadow: rgb(231, 189, 135) 0px 1px 25px;
}
 .nav-icons i{
    vertical-align: middle;
    font-size: 19px;
    color: #fff;
    margin-right: 8px;
    margin-left: 5px;
    transition: all 0.50s ease;
}
.nav-icons i:hover{
color: sienna;
transform: scale(1.1);
}
#menu-icon{
    font-size: 25px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/*home*/
section{
    padding: 70px 14% 60px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.home-img img{
    width: 110%;
    height: auto;
    margin-top: 13%;
}
.home-text h1, span{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 1rem;
}
.home-text p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.3rem;
}
.btn{
    display: inline-block;
    background: burlywood;
    color: sienna;
    padding: 15px 35px;
    border-radius: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .50s ease;
}
.btn:hover{
    background: burlywood;
    color: #fff;
    box-shadow: rgb(222, 184, 135) 0px 1px 25px;
}

header.sticky{
    padding: 12px 14%;
    background: #faf1e7;
}
.container{
    padding: 50px 14% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    text-align: center;
}
.container-box{
    padding: 43px;
    background: #fcf0e6;
    border-radius: 3rem;
}
.container-box img{
    width: 100%;
    max-width: 60px;
    height: auto;
}
.container-box h3{
    font-size: 19px;
    font-weight: bold;
    margin: 16px 0;
}
.container-box a{
    color: peru;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all;
}
.container-box a:hover{
    color: burlywood;
}

/*О нас*/
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}
.about-img img{
    width: 100%;
    height: auto;
}
.about-text h2{
font-size: 30px;
text-transform: uppercase;
line-height: 1.3;
margin-bottom: 1rem;
}
.about-text p{
    margin-bottom: 19px;
    font-size: 18px;
    color: burlywood;
    line-height: 1.5rem;
}

.middle-text{
    text-align: center;
}
.middle-text h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: burlywood;
}
.middle-text h2{
    font-size: 20px;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}
.row{
    position: relative;
    padding: 10px 35px 40px;
    background: #fcf0e6;
    border-radius: 3rem;
}
.row img{
    width: 100%;
    height: auto;
    transition: transform .50s ease;
}
.row h3{
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}
.row p{
    color: sienna;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 1.1rem;
}
.in-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.in-text .price h4{
    color: rgb(211, 167, 110);
    font-weight: bold;
    font-size: 20px;
}
.in-text .s-btnn a{
    display: inline-block;
    padding: 9px 22px;
    background: rgb(211, 167, 110);
    color: #fff;
    border-radius: 3rem;
    letter-spacing: 1px;
    transition: transform .50s ease;
    font-weight: bold;
}
.in-text .s-btnn a:hover{
    background: rgb(236, 189, 129);
    color: #fff;
    box-shadow: rgb(222, 184, 135) 0px 1px 25px;
}
.top-icon{
    position: absolute;
    top: 30px;
    left: 35px;
}
.top-icon i:hover{
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
.row-btn{
    text-align: center;
    margin-top: 4rem;
}

/******* Отзывы покупателей *******/
.review-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem; 
    align-items: center;
    margin-top: 3rem;
}
.box{
    padding: 35px;
    background: #fcf0e6;
    border-radius: 3rem;
}
.box p{
    color: sienna;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 1.1rem;
}
.in-box{
    display: flex;
    align-items: center;
    gap: 30px;
}
.bx-img img{
    width: 100%;
    height: auto;
    border-radius: 3rem;
    background: rgb(236, 203, 160);
}
.bxx-text h4{
    margin: 0;
    font-size: 20px;
}
.stars i{
    color: rgb(249, 211, 24);
    font-size: 14px;
    margin-right: 5px;
    margin-top: 10px;     
}


/******* соцсети *******/
.contact-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.contact-img{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.contact-img img{
    width: 50%;
    max-width: 100px;
    height: auto;
    cursor: pointer;
    transition: all .50s ease;
}
.contact-img img:hover{
    transform: scale(0.9);
}

.scroll{
    position: fixed;
    bottom: 2.2rem;
    border-top: 2rem;
    right: 3.2rem;
}
.scroll i{
    font-size: 25px;
    color: #fff;
    background: rgb(222, 184, 135);
    padding: 10px;
    border-radius: 3rem;
}

/*****адаптивностбебе******/
@media(max-width: 1300px){
    header{
        padding: 22px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 14px 4%;
        transition: .2s;
    }
    section{
        padding: 50px 4% 40px;
        transition: .2s;
    }
}

@media(max-width: 1180px){
    .navlist a{
        font-size: 16px;
    }
    .home-text{
        font-size: 2.3rem;
    }
    .home-text p{
        font-size: 1.1rem;
    }
    .container-box h3{
        font-size: 15px;
    }
    .container-box a{
        font-size: 17px;
    }
    .home{
        height: 85vh;
    }
}

@media(max-width: 1060px){
    #menu-icon{
        display: initial;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: #fcf0e6;
        transition: all .50s ease;
    }
    .navlist a{
        display: block;
        padding: 0.5rem;
        font-size: 17px;
        margin: 1rem;
        border-left: 2px solid #fff;
    }
    .navlist.open{
        top: 100%;
    }
}

@media(max-width: 987px){
    .navlist a{font-size: 15px;}
    .home-text h1, span{
        font-size: 2.1rem;
    }
    .home-text p{
        font-size: 1rem;
    }
    .btn{
        font-size: 0.9rem;
    }
    .container-box h3{
        font-size: 19px;
    }
    .container-box a{
        font-size: 20px;
    }
    .home{
        height: 85vh;
    }
    .row p{
        font-size: 15px;
    }
    .in-text .s-btnn a{
        font-size: 15px;
    }
    .in-text .price h4{font-size: 19px;}
    .box p{font-size: 17px;}
    .home-img img{
        width:  100%;
        max-width: 490px;
        height: auto;
    }
    .about-img img{
        width:  100%;
        max-width: 490px;
        height: auto;
    }
    .home{height: 70vh;}
}

@media(max-width: 860px){
    .home{
        grid-template-columns: 1fr;
        height: 118vh;
    }
    .home-text{
        padding-top: 100px;
        text-align: center;
    }
    .home-img{
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
    }
    .about-text{text-align: center;}

}
@media(max-width: 520px){
    .contact-img{
        gap: 1.5rem;
    }
    .home-img{
        padding: 20px 20px;
    }
}
@media(max-width: 440px){
    .home{
        height: 110vh;
        gap: 0.1rem;
    }
}
